<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="top-bar">
        <h1>Registration Page</h1>
        <a class="homeBtn" href="/">Back home</a>
    </nav>
    <div class="container">
        <h2>Sign Up</h2>
        <form action="/auth/signup" method="post" class="form">
            <div class="registrationDiv">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="registrationDiv">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="registrationDiv">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="registrationDiv">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="registrationDiv">
                <label for="mobileNumber">Mobile Number:</label>
                <input type="text" id="mobileNumber" name="mobileNumber" required>
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
        <h3>Already have an account?:</h3>
        <a href="/signin" class="btn">SignIn</a>
        
    </div>
    <div class="container">
      <div class="form">
        <a href="/auth/login" class="btn">Sign in with GitHub</a>
    </div>
</body>
</html>